* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eaeded;
}

/* NAVBAR */
.navbar {
  background: #131921;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #f08804;
}

.search {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

/* HERO */
.hero {
  background: #232f3e;
  color: white;
  padding: 30px;
  text-align: center;
}

/* GRID */
.section {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.price {
  color: #b12704;
  font-weight: bold;
  margin: 8px 0;
}

button {
  background: #ffd814;
  border: 1px solid #fcd200;
  padding: 7px;
  width: 100%;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #131921;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
